<form method="post" action="#heading" class="pl-5 mr-10 w-full md:w-1/2">
    <h2 class="text-md uppercase" id="heading">{{ trans key='butik::web.your_information' }}</h2>

    {{ csrf_field }}

    <label for="name" class="block my-3">
        <div class="font-bold text-g text-xs">{{ trans key='butik::web.name' }}</div>
        <input id="name" name="name" type="text" value="{{ old:name ?? customer:name }}" autofocus class="border-b border-gray-900 my-3 px-2 py-1 w-full">
        {{ if {error:name} }}
            <span class="text-red-600 block -mt-2 text-xs">{{ error:name }}</span>
        {{ /if }}
    </label>

    <label for="mail" class="block my-3">
        <div class="font-bold text-g text-xs">{{ trans key='butik::web.mail' }}</div>
        <input id="mail" name="mail" type="mail" value="{{ old:mail ?? customer:mail }}" class="border-b border-gray-900 my-3 px-2 py-1 w-full">
        {{ if {error:mail} }}
            <span class="text-red-600 block -mt-2 text-xs">{{ error:mail }}</span>
        {{ /if }}
    </label>

    <h2 class="text-md uppercase">{{ trans key='butik::web.delivery_address' }}</h2>

    <label for="address1" class="block my-3">
        <div class="font-bold text-g text-xs">{{ trans key='butik::web.address1' }}</div>
        <input id="address1" name="address1" type="text" value="{{ old:address1 ?? customer:address1 }}" class="border-b border-gray-900 my-3 px-2 py-1 w-full">
        {{ if {error:address1} }}
            <span class="text-red-600 block -mt-2 text-xs">{{ error:address1 }}</span>
        {{ /if }}
    </label>

    <label for="address2" class="block my-3">
        <div class="font-bold text-g text-xs">{{ trans key='butik::web.address2' }}</div>
        <input id="address2" name="address2" type="text" value="{{ old:address2 ?? customer:address2 }}" class="border-b border-gray-900 my-3 px-2 py-1 w-full">
        {{ if {error:address2} }}
            <span class="text-red-600 block -mt-2 text-xs">{{ error:address2 }}</span>
        {{ /if }}
    </label>

    <label for="city" class="block my-3">
        <div class="font-bold text-g text-xs">{{ trans key='butik::web.city' }}</div>
        <input id="city" name="city" type="text" value="{{ old:city ?? customer:city }}" class="border-b border-gray-900 my-3 px-2 py-1 w-full">
        {{ if {error:city} }}
            <span class="text-red-600 block -mt-2 text-xs">{{ error:city }}</span>
        {{ /if }}
    </label>

    <label for="zip" class="block my-3">
        <div class="font-bold text-g text-xs">{{ trans key='butik::web.zip' }}</div>
        <input id="zip" name="zip" type="text" value="{{ old:zip ?? customer:zip }}" class="border-b border-gray-900 my-3 px-2 py-1 w-full">
        {{ if {error:zip} }}
            <span class="text-red-600 block -mt-2 text-xs">{{ error:zip }}</span>
        {{ /if }}
    </label>

    <label for="country" class="block my-3">
        <div class="font-bold text-g text-xs">{{ trans key='butik::web.country' }}</div>
        <select id="country" name="country" class="border-b border-gray-900 my-3 px-2 py-1 w-full">
            {{ foreach:countries as="slug|name" }}
                <option value="{{ slug }}" {{ if selected_country:slug === slug }}selected{{ /if }}>{{ name }}</option>
            {{ /foreach:countries }}
        </select>

        {{ if {error:country} }}
        <span class="text-red-600 block -mt-2 text-xs">{{ error:country }}</span>
        {{ /if }}
    </label>

    <div class="flex justify-end flex">
        <button type="submit" class="bg-gray-900 block mt-3 px-6 py-2 rounded text-center text-white text-xl hover:bg-gray-800">
            {{ trans key='butik::web.to_payment' }}
        </button>
    </div>
</form>
