<form method="post" action="#heading" class="b-px-5 b-w-full md:b-w-1/2">
    <h2 class="b-text-md b-uppercase" id="heading">{{ trans key="statamic-butik::payment.your_information" }}</h2>

    {{ csrf_field }}

    <label for="name" class="b-block b-my-3">
        <div class="b-font-bold b-text-g b-text-xs">{{ trans key="statamic-butik::payment.name" }}</div>
        <input id="name" name="name" type="text" value="{{ old:name ?? name }}" autofocus class="b-border b-border-gray-900 b-px-2 b-py-1 b-rounded b-w-full">
        {{ if {error:name} }}<span class="b-text-red-600 b-text-xs">{{ error:name }}</span>{{ /if }}
    </label>

    <label for="mail" class="b-block b-my-3">
        <div class="b-font-bold b-text-g b-text-xs">{{ trans key="statamic-butik::payment.mail" }}</div>
        <input id="mail" name="mail" type="mail" value="{{ old:mail ?? mail }}" class="b-border b-border-gray-900 b-px-2 b-py-1 b-rounded b-w-full">
        {{ if {error:mail} }}<span class="b-text-red-600 b-text-xs">{{ error:mail }}</span>{{ /if }}
    </label>

    <div class="b-mb-6 b-text-gray-600 b-text-xs">
        {{ trans key="statamic-butik::payment.account_creation" }}
    </div>

    <h2 class="b-text-md b-uppercase">{{ trans key="statamic-butik::payment.delivery_address" }}</h2>

    <label for="country" class="b-block b-my-3 b-cursor-not-allowed">
        <div class="b-font-bold b-text-g b-text-xs">{{ trans key="statamic-butik::payment.country" }}</div>
        <input id="country" name="country" type="text" readonly value="{{ butik:country }}" class="b-border b-border-gray-900 b-px-2 b-py-1 b-rounded b-w-full">
        {{ if {error:country} }}<span class="b-text-red-600 b-text-xs">{{ error:country }}</span>{{ /if }}
    </label>

    <label for="address1" class="b-block b-my-3">
        <div class="b-font-bold b-text-g b-text-xs">{{ trans key="statamic-butik::payment.address1" }}</div>
        <input id="address1" name="address1" type="text" value="{{ old:address1 ?? address1 }}" class="b-border b-border-gray-900 b-px-2 b-py-1 b-rounded b-w-full">
        {{ if {error:address1} }}<span class="b-text-red-600 b-text-xs">{{ error:address1 }}</span>{{ /if }}
    </label>

    <label for="address2" class="b-block b-my-3">
        <div class="b-font-bold b-text-g b-text-xs">{{ trans key="statamic-butik::payment.address2" }}</div>
        <input id="address2" name="address2" type="text" value="{{ old:address2 ?? address2 }}" class="b-border b-border-gray-900 b-px-2 b-py-1 b-rounded b-w-full">
        {{ if {error:address2} }}<span class="b-text-red-600 b-text-xs">{{ error:address2 }}</span>{{ /if }}
    </label>

    <label for="city" class="b-block b-my-3">
        <div class="b-font-bold b-text-g b-text-xs">{{ trans key="statamic-butik::payment.city" }}</div>
        <input id="city" name="city" type="text" value="{{ old:city ?? city }}" class="b-border b-border-gray-900 b-px-2 b-py-1 b-rounded b-w-full">
        {{ if {error:city} }}<span class="b-text-red-600 b-text-xs">{{ error:city }}</span>{{ /if }}
    </label>

    <label for="zip" class="b-block b-my-3">
        <div class="b-font-bold b-text-g b-text-xs">{{ trans key="statamic-butik::payment.zip" }}</div>
        <input id="zip" name="zip" type="text" value="{{ old:zip ?? zip }}" class="b-border b-border-gray-900 b-px-2 b-py-1 b-rounded b-w-full">
        {{ if {error:zip} }}<span class="b-text-red-600 b-text-xs">{{ error:zip }}</span>{{ /if }}
    </label>

    <div class="b-flex b-justify-end flex">
        <button type="submit" class="b-bg-gray-900 b-block b-mt-3 b-px-6 b-py-2 b-rounded b-text-center b-text-white b-text-xl hover:b-bg-gray-800">
            {{ trans key="statamic-butik::payment.to_payment" }}
        </button>
    </div>
</form>