<div class="b-mx-auto b-my-10">
    <div class="b-flex b-justify-center b-mt-5">
        {{# Images #}}
        {{ if images > 0 }}
            {{ images limit="1" }}
                <img class="b-w-full" src="/assets/{{ value }}">
            {{ /images }}
        {{ else }}
            <div class="b-w-full">
                {{ partial src="statamic-butik::web.shop.partials.placeholder" }}
            </div>
        {{ /if }}
    </div>

    <section class="b-px-10">
        <h3 class="b-font-bold b-block b-mt-5 b-text-3xl b-text-center">{{ title }}</h3>

        <hr class="b-border-white b-my-5">

        <div class="b-flex b-my-3 b-justify-between b-max-w-sm b-mx-auto">
            <span>{{ trans key="statamic-butik::payment.subtotal" }}</span>
            <span>{{ butik:currency_symbol }} {{ base_price }}</span>
        </div>

        <div class="b-flex b-my-3 b-justify-between b-max-w-sm b-mx-auto">
            <span>{{ trans key="statamic-butik::payment.shipping" }}</span>
            <span>{{ butik:currency_symbol }} {{ shipping_amount }}</span>
        </div>

        <hr class="b-border-white b-my-5">

        <div class="b-flex b-mt-3 b-justify-between b-max-w-sm b-mx-auto">
            <span>{{ trans key="statamic-butik::payment.total" }}</span>
            <span class="b-font-black">{{ butik:currency_symbol }} {{ total_price }}</span>
        </div>
        <div class="b-max-w-sm b-mx-auto b-pb-3 b-text-gray-500 b-text-right b-text-sm">
            Including {{ tax_percentage }}% taxes ({{ tax_amount }} {{ butik:currency_symbol }})
        </div>

    </section>
</div>
