<div class="bordeer border border-gray-500 px-6 py-3 mt-8 lg:mt-0 rounded-md">
    <h3 class="underline">{{ 'butik::web.ship_to' | trans | ucfirst }}</h3>
    <div>
        <span class="font-bold">{{ 'butik::web.name' | trans | ucfirst }}</span>
        <span>{{ customer:name }}</span>
    </div>
    <div class="m2">
        <span class="font-bold">{{ 'butik::web.mail' | trans | ucfirst }}</span>
        <span>{{ customer:mail }}</span>
    </div>
    <div>
        <span class="font-bold">{{ 'butik::web.address1' | trans | ucfirst }}</span>
        <span>{{ customer:address1 }}</span>
    </div>
    {{ if customer:address2 }}
    <div>
        <span class="font-bold">{{ 'butik::web.address2' | trans | ucfirst }}</span>
        <span>{{ customer:address2 }}</span>
    </div>
    {{ /if }}
    <div>
        <span class="font-bold">{{ 'butik::web.city' | trans | ucfirst }}</span>
        <span>{{ customer:city }}</span>
    </div>
    <div>
        <span class="font-bold">{{ 'butik::web.zip' | trans | ucfirst }}</span>
        <span>{{ customer:zip }}</span>
    </div>
    <div>
        <span class="font-bold">{{ 'butik::web.country' | trans | ucfirst }}</span>
        <span>{{ customer:country }}</span>
    </div>
</div>
