<div class="mx-5">
    <div class="flex justify-around">
        {{ if delivery }}
            <div class="text-xs flex flex-col items-center">
                <div class="border-2 border-green-500 flex h-8 items-center justify-center rounded-full w-8">1</div>
                <span class="text-green-500 mt-1">{{ trans key='butik::web.delivery' }}</span>
            </div>
        {{ else }}
            <div class="text-xs flex flex-col items-center">
                <div class="border-2 border-gray-400 flex h-8 items-center justify-center rounded-full w-8">1</div>
                <span class="text-gray-400 mt-1">{{ trans key='butik::payment.delivery' }}</span>
            </div>
        {{ /if }}

        {{ if review }}
            <div class="text-xs flex flex-col items-center">
                <div class="border-2 border-green-500 flex h-8 items-center justify-center rounded-full w-8">2</div>
                <span class="text-green-500 mt-1">{{ trans key='butik::web.review_payment' }}</span>
            </div>
        {{ else }}
            <div class="text-xs flex flex-col items-center">
                <div class="border-2 border-gray-400 flex h-8 items-center justify-center rounded-full w-8">2</div>
                <span class="text-gray-400 mt-1">{{ trans key='butik::web.review_payment' }}</span>
            </div>
        {{ /if }}

        {{ if receipt }}
            <div class="text-xs flex flex-col items-center">
                <div class="border-2 border-green-500 flex h-8 items-center justify-center rounded-full w-8">3</div>
                <span class="text-green-500 mt-1">{{ trans key='butik::web.receipt' }}</span>
            </div>
        {{ else }}
            <div class="text-xs flex flex-col items-center">
                <div class="border-2 border-gray-400 flex h-8 items-center justify-center rounded-full w-8">3</div>
                <span class="text-gray-500 mt-1">{{ trans key='butik::web.receipt' }}</span>
            </div>
        {{ /if }}
    </div>
</div>
