<div class="butik-max-w-6xl butik-mx-auto">
    <header class="butik-flex butik-px-5 butik-py-8 md:butik-py-10">
        <a class="butik-w-full" href="/">
            <img class="butik-w-3/5" style="max-width: 200px;" src="/vendor/statamic-butik/images/logo.svg">
        </a>
        <div class="butik-w-2/5 butik-flex butik-justify-end">
            <button>
                <svg class="butik-w-8 butik-h-8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000">
                    <g><path d="M990,210.3c0,38.7-31.3,70-70,70H80c-38.7,0-70-31.3-70-70l0,0c0-38.7,31.3-70,70-70H920C958.5,140.2,990,171.6,990,210.3L990,210.3L990,210.3z"/><path d="M713.4,500c0,38.7-31.3,70-70,70H80c-38.7,0-70-31.3-70-70l0,0c0-38.7,31.3-70,70-70l563.3,0C682,430,713.4,461.3,713.4,500L713.4,500L713.4,500z"/><path d="M503.4,789.7c0,38.7-31.3,70-70,70H80c-38.7,0-70-31.3-70-70l0,0c0-38.7,31.3-70,70-70h353.4C472.1,719.7,503.4,751.2,503.4,789.7L503.4,789.7L503.4,789.7z"/></g>
                </svg>
            </button>
        </div>
    </header>

    <main class="butik-flex butik-flex-wrap butik-mt-5 md:butik-mt-0 butik-pr-5 butik-w-full">
        {{ butik:products }}

            <div class="butik-block butik-mb-10 butik-pl-5 butik-w-1/2 md:butik-w-1/3">
                <a href="{{ show_url }}" class="butik-block butik-w-full butik-text-xl">
                    {{ images limit="1" }}
                        <img class="butik-w-full" src="/assets/{{ value }}">
                    {{ /images }}

                    <h1 class="butik-mt-2">{{ title }}</h1>
                    <span class="butik-text-gray-500 butik-text-sm">{{ butik:currency_symbol }} {{ base_price }}</span>
                </a>
            </div>

        {{ /butik:products }}
    </main>
</div>

<hr class="butik-mt-8">

<footer class="butik-flex butik-justify-center butik-max-w-6xl butik-mx-auto butik-py-10">
    <div class="butik-flex butik-flex-wrap butik-justify-center butik-text-gray-600">
        <a class="butik-mx-6 butik-mb-2" href="#">Impressum</a>
        <a class="butik-mx-6 butik-mb-2" href="#">Datenschutzerklaerung</a>
        <a class="butik-mx-6 butik-mb-2" href="#">Kontakt</a>
        <a class="butik-mx-6 butik-mb-2" href="#">Versand</a>
        <a class="butik-mx-6 butik-mb-2" href="#">AGB</a>
    </div>
</footer>
