<section class="block">
    <div class="border-b border-gray-light pb-12">
        {{ unless items | sellable }}
        <div class="bg-red-300 px-5 py-4 rounded m16">
            {{ 'butik::web.some_items_not_available' | trans }}
        </div>
        {{ /unless }}

        {{ if items }}
            {{ items }}
                {{ partial src="butik::web.checkout.bag-item" }}
            {{ /items }}
        {{ /if }}
    </div>

    <section class="w-2/3 ml-auto mt-12 text-dark">
        <div class="flex justify-between">
            <span>{{ 'butik::web.shipping' | trans }}</span>
            <span class="text-xl">{{ currency }} {{ bag:total_shipping }}</span>
        </div>

        <div class="flex mt-8 justify-between">
            <span>{{ 'butik::web.total' | trans }}</span>
            <span class="text-3xl">{{ currency }} {{ bag:total_price }}</span>
        </div>

        {{ bag:total_taxes }}
            <div class="flex mt-2 justify-between text-xs">
                <span>{{ 'butik::web.vat' | trans }} {{ rate }} %</span>
                <span>{{ currency }} {{ amount }}</span>
            </div>
        {{ /bag:total_taxes }}

    </section>
</section>
