{{ partial src='butik::web.checkout.partials.status' delivery='true' }}

<hr class="m5 mt-8">

<h1 class="block m10 md:m20 text-center font-bold text-xl">
    {{ trans key='butik::web.checkout' }}
</h1>

{{# body #}}
<div class="mt-6 m20 md:flex">

    {{# delivery form #}}

    {{ partial src='butik::web.checkout.partials.delivery-form' }}

    {{# product card #}}
    <div class="bg-gray-200 px-10 py-8 w-full lg:w-1/2">
        {{ unless items | sellable }}
            <div class="bg-red-300 px-5 py-4 rounded m16">
                {{ trans key='butik::web.some_items_not_available' }}
            </div>
        {{ /unless }}

        {{ if items }}
            {{ items | to_json }}
                <section class="flex mt-3">
                    <figure class="w-1/5 mr-5">
                        {{ if images }}
                            {{ images limit="1" }}
                                <img src="/assets/{{ value }}">
                            {{ /images }}
                        {{ else }}
                            <div class="w-full">
                                {{ partial src='butik::web.shop.partials.placeholder' }}
                            </div>
                        {{ /if }}
                    </figure>

                    <div class="w-full">
                        <h3 class="font-bold {{ unless sellable }}text-red-500 {{ /if }}">{{ name }}</h3>
                        <p>{{ description }}</p>
                        <div class="flex justify-end items-baseline">
                            <span class="mr-5 text-sm italic">{{ single_price }} x {{ quantity }}</span>
                            {{ if sellable }}
                                <span class="font-bold">{{ currency }} {{ total_price }}</span>
                            {{ else }}
                                <s>{{ currency }} {{ total_price }}</s>
                            {{ /if }}
                        </div>
                    </div>
                </section>
            {{ /items }}
        {{ /if }}

        <section class="w-full mt-4">

            <h3 class="font-bold block mt-5 text-3xl text-center">
                {{ trans key='butik::web.total' }}
            </h3>

            <hr class="border-white my-5">

            <div class="flex my-3 justify-between max-w-sm mx-auto">
                <span>{{ trans key='butik::web.shipping' }}</span>
                <span>{{ bag:total_shipping }}</span>
            </div>

            <hr class="border-white my-5">

            <div class="flex mt-3 justify-between max-w-sm mx-auto">
                <span>{{ trans key='butik::web.total' }}</span>
                <span class="font-black">{{ currency }} {{ bag:total_price }}</span>
            </div>
            <div class="max-w-sm mx-auto p3 text-gray-500 text-right text-sm">
                {{ trans key='butik::web.including_taxes' }}
            </div>
        </section>
    </div>

</div>
