<div class="b-bg-gray-100 b-flex b-w-full b-rounded b-px-8 b-py-5 b-mb-6">
    <header class="b-w-40 b-w-1/5">
        {{ partial src="butik::web.shop.partials.placeholder" }}
    </header>
    <section class="b-w-4/5 b-ml-12">
        <h3 class="b-font-bold b-block b-mt-5 b-text-2xl">{{ name }}</h3>

        <hr class="b-border-white b-my-3">

        <p>Aufblasbares Stand Up Paddle von Indiana Jahrgang 2019 gebraucht in super Zustand mit Kids Paddel, Tasche, Finne, Pumpe und Rep Kit kann gerne vor Ort getestet werden</p>

        <hr class="b-border-white b-my-3">

        <footer class="b-flex b-justify-end b-items-center">
            <span class="">$ 236</span>
            <input class="b-ml-10 b-border b-rounded b-border-gray-900 b-px-2 b-py-1 b-w-12 b-bg-gray-100" type="number" value="1">
            <strong class="b-ml-10">$ 236</strong>
        </footer>
    </section>
</div>
