{{ partial src="statamic-butik::web.checkout.partials.status" delivery="true" review="false" receipt="false"}}

<hr class="b-mb-5 b-mt-8">

<h1 class="b-block b-mb-10 md:b-mb-20 b-text-center b-font-bold b-text-xl">{{ trans key="statamic-butik::payment.express_checkout" }}</h1>

<div class="b-mt-6 b-mb-20 md:b-flex">
    <form method="post" action="#heading" class="b-px-5 b-w-full md:b-w-1/2">
        <h2 class="b-text-md b-uppercase" id="heading">{{ trans key="statamic-butik::payment.your_information" }}</h2>

        {{ csrf_field }}

        <label for="name" class="b-block b-my-3">
            <div class="b-font-bold b-text-g b-text-xs">{{ trans key="statamic-butik::payment.name" }}</div>
            <input id="name" name="name" type="text" value="{{ old:name ?? name }}" autofocus class="b-border b-border-gray-900 b-px-2 b-py-1 b-rounded b-w-full">
            {{ if {error:name} }}<span class="b-text-red-600 b-text-xs">{{ error:name }}</span>{{ /if }}
        </label>

        <label for="mail" class="b-block b-my-3">
            <div class="b-font-bold b-text-g b-text-xs">{{ trans key="statamic-butik::payment.mail" }}</div>
            <input id="mail" name="mail" type="mail" value="{{ old:mail ?? mail }}" class="b-border b-border-gray-900 b-px-2 b-py-1 b-rounded b-w-full">
            {{ if {error:mail} }}<span class="b-text-red-600 b-text-xs">{{ error:mail }}</span>{{ /if }}
        </label>

        <div class="b-mb-6 b-text-gray-600 b-text-xs">
            {{ trans key="statamic-butik::payment.account_creation" }}
        </div>

        <h2 class="b-text-md b-uppercase">{{ trans key="statamic-butik::payment.delivery_address" }}</h2>

        <label for="country" class="b-block b-my-3 b-cursor-not-allowed">
            <div class="b-font-bold b-text-g b-text-xs">{{ trans key="statamic-butik::payment.country" }}</div>
            <input id="country" name="country" type="text" readonly value="Germaninien" class="b-border b-border-gray-900 b-px-2 b-py-1 b-rounded b-w-full">
            {{ if {error:country} }}<span class="b-text-red-600 b-text-xs">{{ error:country }}</span>{{ /if }}
        </label>

        <label for="address_1" class="b-block b-my-3">
            <div class="b-font-bold b-text-g b-text-xs">{{ trans key="statamic-butik::payment.address_1" }}</div>
            <input id="address_1" name="address_1" type="text" value="{{ old:address_1 ?? address_1 }}" class="b-border b-border-gray-900 b-px-2 b-py-1 b-rounded b-w-full">
            {{ if {error:address_1} }}<span class="b-text-red-600 b-text-xs">{{ error:address_1 }}</span>{{ /if }}
        </label>

        <label for="address_2" class="b-block b-my-3">
            <div class="b-font-bold b-text-g b-text-xs">{{ trans key="statamic-butik::payment.address_2" }}</div>
            <input id="address_2" name="address_2" type="text" value="{{ old:address_2 ?? address_2 }}" class="b-border b-border-gray-900 b-px-2 b-py-1 b-rounded b-w-full">
            {{ if {error:address_2} }}<span class="b-text-red-600 b-text-xs">{{ error:address_2 }}</span>{{ /if }}
        </label>

        <label for="city" class="b-block b-my-3">
            <div class="b-font-bold b-text-g b-text-xs">{{ trans key="statamic-butik::payment.city" }}</div>
            <input id="city" name="city" type="text" value="{{ old:city ?? city }}" class="b-border b-border-gray-900 b-px-2 b-py-1 b-rounded b-w-full">
            {{ if {error:city} }}<span class="b-text-red-600 b-text-xs">{{ error:city }}</span>{{ /if }}
        </label>

        <label for="zip" class="b-block b-my-3">
            <div class="b-font-bold b-text-g b-text-xs">{{ trans key="statamic-butik::payment.zip" }}</div>
            <input id="zip" name="zip" type="text" value="{{ old:zip ?? zip }}" class="b-border b-border-gray-900 b-px-2 b-py-1 b-rounded b-w-full">
            {{ if {error:zip} }}<span class="b-text-red-600 b-text-xs">{{ error:zip }}</span>{{ /if }}
        </label>

        <div class="b-flex b-justify-end flex">
            <button type="submit" class="b-bg-gray-900 b-block b-mt-3 b-px-6 b-py-2 b-rounded b-text-center b-text-white b-text-xl hover:b-bg-gray-800">
                {{ trans key="statamic-butik::payment.to_payment" }}
            </button>
        </div>
    </form>

    <div class="b-bg-gray-200 b-rounded b-hidden b-items-center b-w-1/2 md:b-flex">
        <div>
            <div class="b-flex b-justify-center b-mt-5">
                {{ images limit="1" }}
                <img class="b-w-2/5 b-rounded" src="/assets/{{ value }}">
                {{ /images }}
            </div>

            <section class="b-px-10">
                <h3 class="b-font-bold b-block b-mt-5 b-text-3xl b-text-center">{{ title }}</h3>

                <hr class="b-border-white b-my-5">

                <div class="b-flex b-my-3 b-justify-between b-max-w-sm b-mx-auto">
                    <span>{{ trans key="statamic-butik::payment.subtotal" }}</span>
                    <span>{{ butik:currency_symbol }} {{ base_price }}</span>
                </div>

                <div class="b-flex b-my-3 b-justify-between b-max-w-sm b-mx-auto">
                    <span>{{ trans key="statamic-butik::payment.shipping" }}</span>
                    <span>{{ butik:currency_symbol }} {{ shipping_amount }}</span>
                </div>

                <hr class="b-border-white b-my-5">

                <div class="b-flex b-mt-3 b-justify-between b-max-w-sm b-mx-auto">
                    <span>{{ trans key="statamic-butik::payment.total" }}</span>
                    <span class="b-font-black">{{ butik:currency_symbol }} {{ total_price }}</span>
                </div>
                <div class="b-max-w-sm b-mx-auto b-pb-3 b-text-gray-500 b-text-right b-text-sm">
                    Including {{ tax_percentage }}% taxes ({{ tax_amount }} {{ butik:currency_symbol }})
                </div>

            </section>
        </div>
    </div>
</div>


