<div class="butik-mx-5">
    <div class="butik-flex butik-justify-around">
        <div class="butik-text-xs butik-flex butik-flex-col butik-items-center">
            <div class="butik-border-2 butik-border-green-500 butik-flex butik-h-8 butik-items-center butik-justify-center butik-rounded-full butik-w-8">1</div>
            <span class="butik-text-green-500 butik-mt-1">Delivery</span>
        </div>
        <div class="butik-text-xs butik-flex butik-flex-col butik-items-center">
            <div class="butik-border-2 butik-border-gray-400 butik-flex butik-h-8 butik-items-center butik-justify-center butik-rounded-full butik-w-8">2</div>
            <span class="butik-text-gray-400 butik-mt-1">Review & Payment</span>
        </div>
        <div class="butik-text-xs butik-flex butik-flex-col butik-items-center">
            <div class="butik-border-2 butik-border-gray-400 butik-flex butik-h-8 butik-items-center butik-justify-center butik-rounded-full butik-w-8">3</div>
            <span class="butik-text-gray-500 butik-mt-1">Receipt</span>
        </div>
    </div>
</div>

<hr class="butik-mb-5 butik-mt-8">

<h1 class="butik-block butik-mb-10 md:butik-mb-20 butik-text-center butik-font-bold butik-text-xl">Express Checkout</h1>

<div class="butik-mt-6 butik-mb-20 md:butik-flex">
    <form method="post" action="#heading" class="butik-px-5 butik-w-full md:butik-w-1/2">
        <h2 class="butik-text-md butik-uppercase" id="heading">Your Information</h2>

        {{ csrf_field }}

        <label for="name" class="butik-block butik-my-3">
            <div class="butik-font-bold butik-text-g butik-text-xs">Name</div>
            <input id="name" name="name" type="text" autofocus class="butik-border butik-border-gray-900 butik-px-2 butik-py-1 butik-rounded butik-w-full">
            {{ if {error:name} }}<span class="butik-text-red-600 butik-text-xs">{{ error:name }}</span>{{ /if }}
        </label>

        <label for="mail" class="butik-block butik-my-3">
            <div class="butik-font-bold butik-text-g butik-text-xs">Mail</div>
            <input id="mail" name="mail" type="mail" class="butik-border butik-border-gray-900 butik-px-2 butik-py-1 butik-rounded butik-w-full">
            {{ if {error:mail} }}<span class="butik-text-red-600 butik-text-xs">{{ error:mail }}</span>{{ /if }}
        </label>

        <div class="butik-mb-6 butik-text-gray-600 butik-text-xs">
            We will <span class="butik-underline">not</span> ask you to create an account. Nobody likes doing that ...
        </div>

        <h2 class="butik-text-md butik-uppercase">Delivery Address</h2>

        <label for="country" class="butik-block butik-my-3 butik-cursor-not-allowed">
            <div class="butik-font-bold butik-text-g butik-text-xs">Country</div>
            <input id="country" name="country" type="text" readonly value="Germaninien" class="butik-border butik-border-gray-900 butik-px-2 butik-py-1 butik-rounded butik-w-full">
            {{ if {error:country} }}<span class="butik-text-red-600 butik-text-xs">{{ error:country }}</span>{{ /if }}
        </label>

        <label for="address_1" class="butik-block butik-my-3">
            <div class="butik-font-bold butik-text-g butik-text-xs">Address 1</div>
            <input id="address_1" name="address_1" type="text" class="butik-border butik-border-gray-900 butik-px-2 butik-py-1 butik-rounded butik-w-full">
            {{ if {error:address_1} }}<span class="butik-text-red-600 butik-text-xs">{{ error:address_1 }}</span>{{ /if }}
        </label>

        <label for="address_2" class="butik-block butik-my-3">
            <div class="butik-font-bold butik-text-g butik-text-xs">Address 2</div>
            <input id="address_2" name="address_1" type="text" class="butik-border butik-border-gray-900 butik-px-2 butik-py-1 butik-rounded butik-w-full">
            {{ if {error:addres_2} }}<span class="butik-text-red-600 butik-text-xs">{{ error:addres_2 }}</span>{{ /if }}
        </label>

        <label for="city" class="butik-block butik-my-3">
            <div class="butik-font-bold butik-text-g butik-text-xs">City</div>
            <input id="city" name="city" type="text" class="butik-border butik-border-gray-900 butik-px-2 butik-py-1 butik-rounded butik-w-full">
            {{ if {error:city} }}<span class="butik-text-red-600 butik-text-xs">{{ error:city }}</span>{{ /if }}
        </label>

        <label for="zip" class="butik-block butik-my-3">
            <div class="butik-font-bold butik-text-g butik-text-xs">Zip</div>
            <input id="zip" name="zip" type="text" class="butik-border butik-border-gray-900 butik-px-2 butik-py-1 butik-rounded butik-w-full">
            {{ if {error:zip} }}<span class="butik-text-red-600 butik-text-xs">{{ error:zip }}</span>{{ /if }}
        </label>

        <div class="butik-flex butik-justify-end flex">
            <button type="submit" class="butik-bg-gray-900 butik-block butik-mt-3 butik-px-6 butik-py-2 butik-rounded butik-text-center butik-text-white butik-text-xl hover:butik-bg-gray-800">
                Next Step
            </button>
        </div>
    </form>

    <div class="butik-bg-gray-200 butik-rounded butik-hidden butik-items-center butik-w-1/2 md:butik-flex">
        <div>
            <div class="butik-flex butik-justify-center butik-mt-5">
                {{ images limit="1" }}
                <img class="butik-w-2/5 butik-rounded" src="/assets/{{ value }}">
                {{ /images }}
            </div>

            <section class="butik-px-10">
                <h3 class="butik-font-bold butik-block butik-mt-5 butik-text-3xl butik-text-center">{{ title }}</h3>

                <hr class="butik-border-white butik-my-5">

                <div class="butik-flex butik-my-3 butik-justify-between butik-max-w-sm butik-mx-auto">
                    <span>Subtotal</span>
                    <span>{{ butik:currency_symbol }} {{ base_price }}</span>
                </div>

                <div class="butik-flex butik-my-3 butik-justify-between butik-max-w-sm butik-mx-auto">
                    <span>Shipping</span>
                    <span>{{ butik:currency_symbol }} 5,00</span>
                </div>

                <hr class="butik-border-white butik-my-5">

                <div class="butik-flex butik-my-3 butik-justify-between butik-max-w-sm butik-mx-auto">
                    <span>Total</span>
                    <span class="butik-font-black">{{ butik:currency_symbol }} 1402,00</span>
                </div>

            </section>
        </div>
    </div>
</div>


